@model AddRequestClientInputModel

@{
    ViewData["Title"] = "Add request";
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form asp-controller="Administration" asp-action="AddRequest" method="post" enctype="multipart/form-data">
            <div class="input-group m-3">
                <label class="m-2" asp-for="@Model.StartDate"></label>
                <input class="form-control" placeholder="Start Date" asp-for="StartDate">
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="input-group m-3">
                <label class="m-2" asp-for="@Model.FinalDate"></label>
                <input class="form-control" placeholder="Final Date" asp-for="FinalDate">
                <span asp-validation-for="FinalDate" class="text-danger"></span>
            </div>
            <div class="input-group m-3">
                <label class="m-2" asp-for="@Model.RoomName"></label>
                <input class="form-control" placeholder="Room Name" asp-for="RoomName">
                <span asp-validation-for="RoomName" class="text-danger"></span>
            </div>
            <div class="input-group m-3">
                <label class="m-2" asp-for="@Model.Username"></label>
                <input class="form-control" placeholder="Username" asp-for="Username">
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="input-group m-3">
                <label class="m-2" asp-for="@Model.FinalPrice"></label>
                <input class="form-control" placeholder="FinalPrice" asp-for="FinalPrice">
                <span asp-validation-for="FinalPrice" class="text-danger"></span>
            </div>
            <br />
            <input class="btn btn-primary separated m-1" type="submit" value="Add request">
        </form>
    </div>

</div>